<!DOCTYPE html>
<html>
<head>
  <title>Stukplaces</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrSG2fu4wo1hi27b1JmnRvdI8VoP8E_cQ&callback=initMap"
    async defer></script>
</head>
<body>
	<%= render "layouts/header" %>
	<div class="container">
	<% flash.each do |type, message| %>
		<div class="alert alert-info fade-in">	
			<button class="close" data-dismiss="alert"></button>
			<%= message %>
		</div>
	<% end %>
	</div>

	<div class="container">
			
		<%= yield %>
	</div>
</body>
</html>
